/*
 * styles.css
 * 
 * author: eFBe
 * Copyright 2011, The Weird Syndicate
 *
 * global styles - TODO: rename
 *
 */
 
p, dt, dd, li {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 11px;
	color: #000;
}



